.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1400px;
}

.numOfQuestion {
    margin-top: 2px;
    margin-bottom: 20px;
    font-size: 19px;
}

.questionUnderNum {
    margin: 0;
}

.exit {
    justify-self: flex-start;
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    text-decoration: none;
    margin-top: 1px;
    transition: 0.2s;
}

.exit:hover {
    color: red;
}