.wrapper {
	display: flex;
	flex-direction: column;
	width: 1400px;
	margin: 0 auto;
	background: url('../../../shared/assets/images/start-circles.png') 100%
		no-repeat;
	background-position: 191px -590px;
	background-color: #f8f8f8;
	box-shadow: 0 0 30px rgb(0 0 0 / 30%);
}

.objects {
	width: 1160px;
	margin: 0 auto;
}
