.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
	background-color: #fefbf6;
	border: none;
	border-radius: 1%;
	padding: 1px 5px;
	margin-top: 60px;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);

    & .numOfQuestion {
        margin-top: 2px;
        margin-bottom: 20px;
        font-size: 19px;
    }

    & .questionUnderNum {
        margin: 0;
    }

    .exit {
        justify-self: flex-start;
        align-self: flex-end;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 28px;
        text-decoration: none;
        margin-top: 1px;
        transition: 0.2s;
        &:hover {
            color: red;
        }
    }

    .footer {
        width: 100%;
    }
}