.footerContainer {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 18px;
    height: 80px;
    margin-bottom: 6px;
    margin-right: 5px;
    margin-left: 5px;

    & a {
        column-gap: 5px;
    }

    & .checkAnswer {
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            color: green;
        }
    }

    & .prevQuestion {
        display: flex;
        justify-content: center;
        color: rgb(136, 136, 136);
        cursor: pointer;
        margin-left: auto;
        margin-right: 30px;
        transition: 0.2s;
        &:hover {
            color: black;
        }
    }

    & .nextQuestion {
        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            color: #ffa02b;
        }
    }

    @media (max-width: 768px) {
        a {
            column-gap: 0;
        }

        .checkAnswer {
            font-size: 24px;
        }

        .prevQuestion {
            font-size: 30px;
            width: 50px;
            background-color: lightblue;
            border-radius: 50%;
            color: #000;

            & span {
                position: absolute;
                visibility: hidden;
            }
        }

        .nextQuestion {
            font-size: 30px;
            width: 50px;
            background-color: lightblue;
            border-radius: 50%;

            & span {
                position: absolute;
                visibility: hidden;
            }
        }
    }
}