.questionTab {
	width: 100%;
	border: none;
	border-radius: 1%;

	.numOfQuestion {
		font-size: 20px;
		text-align: center;
	}
  }
  
  .answers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  
	@media (max-width: 768px) {
	  flex-direction: column;
	}
  
	& .answer {
	  padding: 3px;
	  margin: 10px;
	  border: none;
	  border-radius: 40px;
	  width: 35%;
	  height: 200px;
	  cursor: pointer;
	  font-weight: bold;
	  font-size: 18px;
	  background: #d4d4d4;
	  transition: 0.2s;
	  &:hover {
		background: #ffb04e;
	  }
	  & .clicked {
		list-style-type: disc;
		background: #ffb04e;
	  }
	  & ul {
		list-style-type: circle;
	  }
	  &:hover ul {
		list-style-type: disc;
	  }
  
	  @media (max-width: 768px) {
		  width: 90%;
		  height: fit-content;
	  }
	}
  }